@font-face{font-family:"SegoeUI";
src:url("../fonts/Regular/segoeui.eot");
src:url("../fonts/Regular/segoeui.eot?#iefix") format('embeddedopentype'),
url("../fonts/Regular/segoeui.woff2") format("woff2"),
url("../fonts/Regular/SegoeUI.woff") format("woff"),
url("../fonts/Regular/segoeui.ttf") format("truetype"),
url("../fonts/Regular/SegoeUI.otf") format("opentype"),
url("../fonts/Regular/SegoeUI.svg#svgSegoeUI") format("svg");
font-style:normal;
font-weight:normal;
font-display: swap;
}

@font-face{font-family:"SegoeUI Light";
src:url("../fonts/Light/segoeuilight.eot");
src:url("../fonts/Light/segoeuilight.eot?#iefix") format('embeddedopentype'),
url("../fonts/Light/segoeuilight.woff2") format("woff2"),
url("../fonts/Light/SegoeUI-Light.woff") format("woff"),
url("../fonts/Light/segoeuilight.ttf") format("truetype"),
url("../fonts/Light/SegoeUI-Light.otf") format("opentype"),
url("../fonts/Light/SegoeUI-Light.svg#svgSegoeUI-Light") format("svg");
font-style:normal;
font-weight:normal;
font-display: swap;
}

@font-face{font-family:"SegoeUI Semibold";
src:url("../fonts/SemiBold/seguisemi.eot");
src:url("../fonts/SemiBold/seguisemi.eot?#iefix") format('embeddedopentype'),
url("../fonts/SemiBold/seguisemi.woff2") format("woff2"),
url("../fonts/SemiBold/SegoeUI-Semibold.woff") format("woff"),
url("../fonts/SemiBold/seguisemi.ttf") format("truetype"),
url("../fonts/SemiBold/SegoeUI-Semibold.otf") format("opentype"),
url("../fonts/SemiBold/SegoeUI-Semibold.svg#svgSegoeUI-Semibold") format("svg");
font-style:normal;
font-weight:normal;
font-display: swap;
}



  